{% extends 'base.html' %}
{% block content %}
<article>
  <p class="date">Utworzono: {{ post.created_date }} przez: <a href="{% url 'author_detail' post.author.username %}">{{ post.author }}</a></p>
  {% if not post.edited_date == post.created_date %}
  <p class="date">Ostatnio edytowano: {{ post.edited_date }}</p>
  {% endif %}
  <h3>{{ post.title }}</a> {% if request.user.username == post.author.username %}<a href="{% url 'post_edit' pk=post.pk %}?next={{ request.path|urlencode }}"><i class="fas fa-edit"></i></a> <a href="{% url 'post_delete' pk=post.pk %}"><i class="fas fa-trash-alt"></i></a>{% endif %}</h3>
  <p id="text">{{ post.text }}</p>
  <p><a href="{% url 'posts' %}">[wróć na główną]</a></p>
</article>
{% endblock %}